/* src/index.css */
@import "tailwindcss";

:root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Hide scrollbars completely for all elements but keep scrolling functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}